* {
    padding:0;
    margin:0;
}

body {
    background-image : url(../images/site-background.png);
    background-color : #45283C;
    background-repeat : no-repeat;
    background-attachment : scroll;
    background-size: cover;
}

#header {
    width: auto;
    height: 20vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

canvas {
    background: grey;
    display:block;
    margin: 0 auto;
    width: 100vh;
    height: auto;
}

footer {
    background-color: black;
    display: block;
    position:fixed;
    height: 100px;
    width: 100%;
    bottom: 0;
}

.logo {
    height:80px;
    width:80px;
}

.sm-tag {
    height:100px;
    width:400px;
    right:30px;
    position:absolute;
}
#social-media-links {
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

@media only screen and (max-width: 700px) {
header {
    width: 80vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    height: 200px;
}

#social-media-links {
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sm-tag {
    display:none;
}

canvas {
    width:auto;
}
}